{% extends "base.html"%}
{% load static %}
{% block content %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

    <link rel="stylesheet" href="{% static 'cocktail/info/style.css' %}">
    <div class="info-page screen" style="margin: 0px auto;">
        <div class="overlap-group1">
      
        <div class="rectangle-34"></div>
        </div>
        <h1 class="title">Cocktail</h1>
        <p class="text-19">여러 종류의 술을 베이스로 하여 여러가지 재료를 혼합하여 만든 혼합주</p>
        <img class="line-10" src="{% static 'cocktail/images/line-10.svg' %}" />
        <div class="text-4 pretendard-medium-licorice-28px">쉽게 알아보는 베이스 종류</div>
        <div class="text-12">클릭하면 해당 베이스 술에 대해서 더 설명해드릴게요 </div>
        <div class="overlap-group">
            <img class="B_wsky" id="img_BW" src="{% static 'cocktail/images/B_wsky.jpg' %}" />
            <img class="B_jin" id="img_BJ" src="{% static 'cocktail/images/B_jin.jpg' %}" />
            <img class="B_tql" id="img_BT" src="{% static 'cocktail/images/B_tql.jpg' %}" />
            <img class="B_vdk" id="img_BV" src="{% static 'cocktail/images/B_vdk.jpg' %}" />
            <img class="B_lqr" id="img_BL" src="{% static 'cocktail/images/B_lqr.jpg' %}" />
            <img class="B_rum" id="img_BR" src="{% static 'cocktail/images/B_rum.jpg' %}" />
            <img class="B_brdy" id="img_BB" src="{% static 'cocktail/images/B_brdy.jpg' %}" />
            <a href="/wisky.html">
            <img class="A_wsky" id="img_AW" src="{% static 'cocktail/images/A_wsky.jpg' %}" />
            </a>
            <a href="/jin.html">
            <img class="A_jin" id="img_AJ" src="{% static 'cocktail/images/A_jin.jpg' %}" />
            </a>
            <a href="/tequila.html"k>
            <img class="A_tql" id="img_AT" src="{% static 'cocktail/images/A_tql.jpg' %}" />
            </a>
            <a href="/vodka.html">
            <img class="A_vdk" id="img_AV" src="{% static 'cocktail/images/A_vdk.jpg' %}" />
            </a>
            <a href="/liqueur.html">
            <img class="A_lqr" id="img_AL" src="{% static 'cocktail/images/A_lqr.jpg' %}" />
            </a>
            <a href="/rum.html">
            <img class="A_rum" id="img_AR" src="{% static 'cocktail/images/A_rum.jpg' %}" />
            </a>
            <a href="/brandy.html">
            <img class="A_brdy" id="img_AB" src="{% static 'cocktail/images/A_brdy.jpg' %}" />
            </a>
            <div class="rectangle-stand"></div>
            <div class="text-wsky pretendard-medium-silver-chalice-20px">위스키</div>
            <div class="text-tql pretendard-medium-silver-chalice-20px">데킬라</div>
            <div class="text-jin pretendard-medium-silver-chalice-20px">진</div>
            <div class="text-vdk pretendard-medium-silver-chalice-20px">보드카</div>
            <div class="text-lqr pretendard-medium-silver-chalice-20px">리큐르</div>
            <div class="text-rum pretendard-medium-silver-chalice-20px">럼</div>
            <div class="text-brdy-bold">브랜디</div>
        </div>
        <div class="text-7 pretendard-medium-licorice-28px">브랜디</div>
        <div class="place">Brandy</div>
        <div class="content-group">
            <div>
                <img class="content-img" src="{% static 'cocktail/images/glass.jpg' %}" />
            </div>
            <div class="content-text">
                <div class="lorem-ipsum-dolor-si pretendard-medium-black-18px">
                <!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit. Laoreet ac risus, natoque fermentum
                quam aliquam quis. Facilisis magna dictumst
                id amet felis, lectus quis. Magna rhoncus felis, eget aliquet ultrices consequat aenean
                pulvinar ut. Molestie etiam vulputate et
                facilisis. Et eros faucibus duis aliquet vitae facilisis elementum non aliquam. -->
                브랜디는 흔하게 포도를 발효, 증류한 술을 말하는데, 보다 넓은 의미로는 모든 과일류를 발효,증류하여 숙성시킨 술이라고 말할 수 있어요. 
                포도를 발효시킨 브랜디는 브랜드는 헤네시(Hennessy), 레미 마르탱(Remy Martin), 카뮈(Camus) 등이 유명하며 사과를 발효시킨 브랜디 브랜드는 칼바도스(Calvados) 등이 유명해요.
                </div>
                <div class="lorem-ipsum-dolor-si pretendard-medium-black-18px">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Laoreet ac risus, natoque fermentum
                quam aliquam quis. Facilisis magna dictumst
                id amet felis, lectus quis. Magna rhoncus felis, eget aliquet ultrices consequat aenean
                pulvinar ut.
                </div>
            </div>
            </div>
        <div class="text-5 pretendard-medium-licorice-28px">추천 칵테일</div>
        <div class="flex-row-1">
            <img class="recommend_A" src="{% static 'cocktail/images/recommend_A.png' %}" />
            <img class="recommend_B" src="{% static 'cocktail/images/recommend_B.png' %}" />
            <img class="recommend_C" src="{% static 'cocktail/images/recommend_C.png' %}" />
        </div>
        <div class="text-container">
        <div class="text-10 pretendard-medium-licorice-20px">추천1</div>
        <div class="text-8 pretendard-medium-licorice-20px">추천2</div>
        <div class="text-9 pretendard-medium-licorice-20px">추천3</div>
        </div>
        <div class="overlap-group2">
            <a href="/test.html">
                <div class="text-20">칵테일 제조하러 가보기!</div>
            </a>        
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
            <script>
                $(document).ready(function(){
                        /*웹페이지 열었을 때*/
                        $("#img_BW").show();
                        $("#img_BJ").show();
                        $("#img_BT").show();
                        $("#img_BV").show();
                        $("#img_BL").show();
                        $("#img_BR").show();
                        $("#img_BB").hide();
                        $("#img_AW").hide();
                        $("#img_AJ").hide();
                        $("#img_AT").hide();
                        $("#img_AV").hide();
                        $("#img_AL").hide();
                        $("#img_AR").hide();
                        $("#img_AB").show();
            
                        /*imgB을 클릭했을 때 imgA를 보여줌*/
                        $("#img_BW").mouseover(function(){
                            $("#img_BW").hide();
                            $("#img_AJ").hide();
                            $("#img_AT").hide();
                            $("#img_AV").hide();
                            $("#img_AL").hide();
                            $("#img_AR").hide();
                            $("#img_AB").show();
                            $("#img_AW").show();
                            $("#img_BJ").show();
                            $("#img_BT").show();
                            $("#img_BV").show();
                            $("#img_BL").show();
                            $("#img_BR").show();
                            $("#img_BB").show();
                        });
                        $("#img_BJ").mouseover(function(){
                            $("#img_BJ").hide();
                            $("#img_AW").hide();
                            $("#img_AT").hide();
                            $("#img_AV").hide();
                            $("#img_AL").hide();
                            $("#img_AR").hide();
                            $("#img_AB").show();
                            $("#img_AJ").show();
                            $("#img_BW").show();
                            $("#img_BT").show();
                            $("#img_BV").show();
                            $("#img_BL").show();
                            $("#img_BR").show();
                            $("#img_BB").show();
                        });
                        $("#img_BT").mouseover(function(){
                            $("#img_BT").hide();
                            $("#img_AW").hide();
                            $("#img_AJ").hide();
                            $("#img_AV").hide();
                            $("#img_AL").hide();
                            $("#img_AR").hide();
                            $("#img_AB").show();
                            $("#img_AT").show();
                            $("#img_BW").show();
                            $("#img_BJ").show();
                            $("#img_BV").show();
                            $("#img_BL").show();
                            $("#img_BR").show();
                            $("#img_BB").show();
                        });
                        $("#img_BV").mouseover(function(){
                            $("#img_BV").hide();
                            $("#img_AW").hide();
                            $("#img_AJ").hide();
                            $("#img_AT").hide();
                            $("#img_AL").hide();
                            $("#img_AR").hide();
                            $("#img_AB").show();
                            $("#img_AV").show();
                            $("#img_BW").show();
                            $("#img_BJ").show();
                            $("#img_BT").show();
                            $("#img_BL").show();
                            $("#img_BR").show();
                            $("#img_BB").show();
                        });
                        $("#img_BL").mouseover(function(){
                            $("#img_BL").hide();
                            $("#img_AW").hide();
                            $("#img_AJ").hide();
                            $("#img_AT").hide();
                            $("#img_AV").hide();
                            $("#img_AR").hide();
                            $("#img_AB").show();
                            $("#img_AL").show();
                            $("#img_BW").show();
                            $("#img_BJ").show();
                            $("#img_BT").show();
                            $("#img_BV").show();
                            $("#img_BR").show();
                            $("#img_BB").show();
                        });
                        $("#img_BR").mouseover(function(){
                            $("#img_BR").hide();
                            $("#img_AW").hide();
                            $("#img_AJ").hide();
                            $("#img_AT").hide();
                            $("#img_AV").hide();
                            $("#img_AL").hide();
                            $("#img_AB").show();
                            $("#img_AR").show();
                            $("#img_BW").show();
                            $("#img_BJ").show();
                            $("#img_BT").show();
                            $("#img_BV").show();
                            $("#img_BL").show();
                            $("#img_BB").show();
                        });
                        $("#img_BB").mouseover(function(){
                            $("#img_BB").hide();
                            $("#img_AW").hide();
                            $("#img_AJ").hide();
                            $("#img_AT").hide();
                            $("#img_AV").hide();
                            $("#img_AL").hide();
                            $("#img_AR").hide();
                            $("#img_AB").show();
                            $("#img_BW").show();
                            $("#img_BJ").show();
                            $("#img_BT").show();
                            $("#img_BV").show();
                            $("#img_BL").show();
                            $("#img_BR").show();
                        });
                    });
            </script>   
{% endblock %}