{% extends "base.html"%}
{% load static %}

{% block content %}

    <link rel="stylesheet" href="{% static 'cocktail/list/css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="{% static 'cocktail/list/js/common.js' %}"></script>

    <section>
        <h3>Cocktail</h3>
        <p>여러 종류의 술을 베이스로 하여 여러가지 재료를 혼합하여 만든 혼합주</p>
        <div class="inner">
            <div class="searching">
                <i class="fas fa-search"></i>
            </div>
            <input class="search-txt" type="search" id="keyword" placeholder="궁금한 칵테일 이름 또는 재료를 검색해주세요."
                   onfocus="this.placeholder=''" onblur="this.placeholder='궁금한 칵테일 이름 또는 재료를 검색해주세요.'">
        </div>
    </section>
    <section class="chkbox">
        <div class="contaniner">
            <label
            ><input type="checkbox" class="chk" name="" value="칵테일" />칵테일</label
            >
            <label
            ><input type="checkbox" class="chk" name="" value="재료" />재료</label
            >
            <!-- 정렬버튼 -->
            <div id="sort-container">
                <div id="sort-toggle">
                    <img
                            id="sort-btn"
                            src="{% static 'cocktail/images/arrow_sort.png' %}"
                            alt="arrow-sort"
                    /><span id="sort-btn-text">기본</span>
                </div>

                <!-- 정렬폼 -->
                <form action="" method="post">
                    {% csrf_token %}
                    <!-- 정렬 모달창 -->
                    <div id="modal-container">
                        <div id="sort-type">
                            <label for="sort-type-1">
                                <input
                                        type="radio"
                                        name="sort-type"
                                        id="sort-type-1"
                                        value="1"
                                        checked
                                />
                                <span>기본</span>
                            </label>
                            <label for="sort-type-2">
                                <input type="radio" name="sort-type" id="sort-type-2" value="2" />
                                <span>별점순</span>
                            </label>
                            <label for="sort-type-3">
                                <input type="radio" name="sort-type" id="sort-type-3" value="3" />
                                <span>스크랩순</span>
                            </label>
                            <label for="sort-type-4">
                                <input type="radio" name="sort-type" id="sort-type-4" value="4" />
                                <span>도수순</span>
                            </label>
                            <label for="sort-type-5">
                                <input type="radio" name="sort-type" id="sort-type-5" value="5" />
                                <span>신상순</span>
                            </label>
                            <label for="sort-type-6">
                                <input type="radio" name="sort-type" id="sort-type-6" value="6" />
                                <span>여성인기</span>
                            </label>
                            <label for="sort-type-7">
                                <input type="radio" name="sort-type" id="sort-type-7" value="7" />
                                <span>남성인기</span>
                            </label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <!-- 칵테일 카드 View List -->
    <section class="coclist">
        <div class="cocktailDiv">
            {% for cock in cocktail %}
            <div class="cardBox">

                <!--준벅-->
                {% if cock.eng_name == "June Bug" %}
                <button class="modal-custom-button" href="#myModal1">
                    <img class="modal-custom-button" href="#myModal1" src="{{ cock.image }}"/>
                </button>

                <form action="{% url 'cocktail:likes' cocktails_id=cocktail.0.id next_page='cocktail' %}" >
                    {% csrf_token %}
                    {% if user in cocktail.0.like.all %}
                        <input type="image" class="likeBtn" id="img" src="{% static 'cocktail/images/like.png' %}" >
                    {% else %}
                        <input type="image" class="likeBtn" id="img" src="{% static 'cocktail/images/unlike.png' %}" >
                    {% endif %}
                </form>

                <section class="titleKr">
                    <p>{{ cock.name }}</p>
                </section>
                <section class="titleEng">
                    <p>{{ cock.eng_name }}</p>
                </section>

                <!-- The Modal -->
                <div id="myModal1" class="modal-custom">
                    <!-- Modal content -->
                    <div class="modal-content">
                        <div class="modal-header">
                            <span class="close-modal">×</span>
                            <br><br>
                            <img class="thumbnail" src="{{ cock.image }}" alt="">

                            <section class="titleKr">
                                <p>{{ cock.name }}</p>
                            </section>
                            <section class="titleEng">
                                <p>{{ cock.eng_name }}</p>
                            </section>
                        </div>
                        <br>
                        <div class="modal-body">

                            <p class="content">{{ cock.description|linebreaks }}
                            </p>

                            <p class="modal-title">도수</p>
                            <p class="content">{{ cock.alcohol }}</p>

                            <p class="modal-title">맛</p>
                            <p class="content">{{ cock.taste }}</p>

                            <p class="modal-title">베이스</p>
                            <p class="content">{{ cock.base }}</p>

                            <p class="modal-title">어울리는 음식</p>
                            <p class="content">{{ cock.match_food }}</p>
                        </div>
                        <div class="modal-footer">
                            <img class="star" src="{% static 'cocktail/images/star.png' %}" alt="">
                            <img class="star" src="{% static 'cocktail/images/star.png' %}" alt="">
                            <img class="star" src="{% static 'cocktail/images/star_gray.png' %}" alt="">
                            <img class="star" src="{% static 'cocktail/images/star_gray.png' %}" alt="">
                            <img class="star" src="{% static 'cocktail/images/star_gray.png' %} %}'" alt="">
                        </div>
                    </div>
                </div>
                <!-- The Modal -->

                <!--피치크러쉬-->
                {% elif cock.eng_name == "Peach Crush" %}
                <button class="modal-custom-button" href="#myModal2">
                    <img class="modal-custom-button" href="#myModal2" src="{{ cock.image }}"/>
                </button>

                <form action="{% url 'cocktail:likes' cocktails_id=cocktail.1.id next_page='cocktail' %}" >
                    {% csrf_token %}
                    {% if user in cocktail.1.like.all %}
                        <input type="image" class="likeBtn" id="img" src="{% static 'cocktail/images/like.png' %}" >
                    {% else %}
                        <input type="image" class="likeBtn" id="img" src="{% static 'cocktail/images/unlike.png' %}" >
                    {% endif %}
                </form>

                <section class="titleKr">
                    <p>{{ cock.name }}</p>
                </section>
                <section class="titleEng">
                    <p>{{ cock.eng_name }}</p>
                </section>

                <!-- The Modal -->
                <div id="myModal2" class="modal-custom">
                    <!-- Modal content -->
                    <div class="modal-content">
                        <div class="modal-header">
                            <span class="close-modal">×</span>
                            <br><br>
                            <img class="thumbnail" src="{{ cock.image }}" alt="">

                            <section class="titleKr">
                                <p>{{ cock.name }}</p>
                            </section>
                            <section class="titleEng">
                                <p>{{ cock.eng_name }}</p>
                            </section>
                        </div>
                        <br>
                        <div class="modal-body">

                            <p class="content">{{ cock.description|linebreaks }}
                            </p>

                            <p class="modal-title">도수</p>
                            <p class="content">{{ cock.alcohol }}</p>

                            <p class="modal-title">맛</p>
                            <p class="content">{{ cock.taste }}</p>

                            <p class="modal-title">베이스</p>
                            <p class="content">{{ cock.base }}</p>

                            <p class="modal-title">어울리는 음식</p>
                            <p class="content">{{ cock.match_food }}</p>
                        </div>
                        <div class="modal-footer">
                            <img class="star" src="{% static 'cocktail/images/star.png' %}" alt="">
                            <img class="star" src="{% static 'cocktail/images/star.png' %}" alt="">
                            <img class="star" src="{% static 'cocktail/images/star_gray.png' %}" alt="">
                            <img class="star" src="{% static 'cocktail/images/star_gray.png' %}" alt="">
                            <img class="star" src="{% static 'cocktail/images/star_gray.png' %} %}'" alt="">
                        </div>
                    </div>
                </div>
                <!-- The Modal -->
                
                <!--모히또-->
                {% elif cock.eng_name == "Mojito" %}
                <button class="modal-custom-button" href="#myModal3">
                    <img class="modal-custom-button" href="#myModal3" src="{{ cock.image }}"/>
                </button>

                <form action="{% url 'cocktail:likes' cocktails_id=cocktail.2.id next_page='cocktail' %}" >
                    {% csrf_token %}
                    {% if user in cocktail.2.like.all %}
                        <input type="image" class="likeBtn" id="img" src="{% static 'cocktail/images/like.png' %}" >
                    {% else %}
                        <input type="image" class="likeBtn" id="img" src="{% static 'cocktail/images/unlike.png' %}" >
                    {% endif %}
                </form>

                <section class="titleKr">
                    <p>{{ cock.name }}</p>
                </section>
                <section class="titleEng">
                    <p>{{ cock.eng_name }}</p>
                </section>

                <!-- The Modal -->
                <div id="myModal3" class="modal-custom">
                    <!-- Modal content -->
                    <div class="modal-content">
                        <div class="modal-header">
                            <span class="close-modal">×</span>
                            <br><br>
                            <img class="thumbnail" src="{{ cock.image }}" alt="">

                            <section class="titleKr">
                                <p>{{ cock.name }}</p>
                            </section>
                            <section class="titleEng">
                                <p>{{ cock.eng_name }}</p>
                            </section>
                        </div>
                        <br>
                        <div class="modal-body">

                            <p class="content">{{ cock.description|linebreaks }}
                            </p>

                            <p class="modal-title">도수</p>
                            <p class="content">{{ cock.alcohol }}</p>

                            <p class="modal-title">맛</p>
                            <p class="content">{{ cock.taste }}</p>

                            <p class="modal-title">베이스</p>
                            <p class="content">{{ cock.base }}</p>

                            <p class="modal-title">어울리는 음식</p>
                            <p class="content">{{ cock.match_food }}</p>
                        </div>
                        <div class="modal-footer">
                            <img class="star" src="{% static 'cocktail/images/star.png' %}" alt="">
                            <img class="star" src="{% static 'cocktail/images/star.png' %}" alt="">
                            <img class="star" src="{% static 'cocktail/images/star_gray.png' %}" alt="">
                            <img class="star" src="{% static 'cocktail/images/star_gray.png' %}" alt="">
                            <img class="star" src="{% static 'cocktail/images/star_gray.png' %} %}'" alt="">
                        </div>
                    </div>
                </div>
                <!-- The Modal -->

                <!--블루사파이어-->
                {% elif cock.eng_name == "Blue Sapphire" %}
                <button class="modal-custom-button" href="#myModal4">
                    <img class="modal-custom-button" href="#myModal4" src="{{ cock.image }}"/>
                </button>

                <form action="{% url 'cocktail:likes' cocktails_id=cocktail.3.id next_page='cocktail' %}" >
                    {% csrf_token %}
                    {% if user in cocktail.3.like.all %}
                        <input type="image" class="likeBtn" id="img" src="{% static 'cocktail/images/like.png' %}" >
                    {% else %}
                        <input type="image" class="likeBtn" id="img" src="{% static 'cocktail/images/unlike.png' %}" >
                    {% endif %}
                </form>

                <section class="titleKr">
                    <p>{{ cock.name }}</p>
                </section>
                <section class="titleEng">
                    <p>{{ cock.eng_name }}</p>
                </section>

                <!-- The Modal -->
                <div id="myModal4" class="modal-custom">
                    <!-- Modal content -->
                    <div class="modal-content">
                        <div class="modal-header">
                            <span class="close-modal">×</span>
                            <br><br>
                            <img class="thumbnail" src="{{ cock.image }}" alt="">

                            <section class="titleKr">
                                <p>{{ cock.name }}</p>
                            </section>
                            <section class="titleEng">
                                <p>{{ cock.eng_name }}</p>
                            </section>
                        </div>
                        <br>
                        <div class="modal-body">

                            <p class="content">{{ cock.description|linebreaks }}
                            </p>

                            <p class="modal-title">도수</p>
                            <p class="content">{{ cock.alcohol }}</p>

                            <p class="modal-title">맛</p>
                            <p class="content">{{ cock.taste }}</p>

                            <p class="modal-title">베이스</p>
                            <p class="content">{{ cock.base }}</p>

                            <p class="modal-title">어울리는 음식</p>
                            <p class="content">{{ cock.match_food }}</p>
                        </div>
                        <div class="modal-footer">
                            <img class="star" src="{% static 'cocktail/images/star.png' %}" alt="">
                            <img class="star" src="{% static 'cocktail/images/star.png' %}" alt="">
                            <img class="star" src="{% static 'cocktail/images/star_gray.png' %}" alt="">
                            <img class="star" src="{% static 'cocktail/images/star_gray.png' %}" alt="">
                            <img class="star" src="{% static 'cocktail/images/star_gray.png' %} %}'" alt="">
                        </div>
                    </div>
                </div>
                <!-- The Modal -->

                <!--롱아일랜드-->
                {% elif cock.eng_name == "Long Island Iced Tea" %}
                <button class="modal-custom-button" href="#myModal5">
                    <img class="modal-custom-button" href="#myModal5" src="{{ cock.image }}"/>
                </button>

                <form action="{% url 'cocktail:likes' cocktails_id=cocktail.4.id next_page='cocktail' %}" >
                    {% csrf_token %}
                    {% if user in cocktail.4.like.all %}
                        <input type="image" class="likeBtn" id="img" src="{% static 'cocktail/images/like.png' %}" >
                    {% else %}
                        <input type="image" class="likeBtn" id="img" src="{% static 'cocktail/images/unlike.png' %}" >
                    {% endif %}
                </form>

                <section class="titleKr">
                    <p>{{ cock.name }}</p>
                </section>
                <section class="titleEng">
                    <p>{{ cock.eng_name }}</p>
                </section>

                <!-- The Modal -->
                <div id="myModal5" class="modal-custom">
                    <!-- Modal content -->
                    <div class="modal-content">
                        <div class="modal-header">
                            <span class="close-modal">×</span>
                            <br><br>
                            <img class="thumbnail" src="{{ cock.image }}" alt="">

                            <section class="titleKr">
                                <p>{{ cock.name }}</p>
                            </section>
                            <section class="titleEng">
                                <p>{{ cock.eng_name }}</p>
                            </section>
                        </div>
                        <br>
                        <div class="modal-body">

                            <p class="content">{{ cock.description|linebreaks }}
                            </p>

                            <p class="modal-title">도수</p>
                            <p class="content">{{ cock.alcohol }}</p>

                            <p class="modal-title">맛</p>
                            <p class="content">{{ cock.taste }}</p>

                            <p class="modal-title">베이스</p>
                            <p class="content">{{ cock.base }}</p>

                            <p class="modal-title">어울리는 음식</p>
                            <p class="content">{{ cock.match_food }}</p>
                        </div>
                        <div class="modal-footer">
                            <img class="star" src="{% static 'cocktail/images/star.png' %}" alt="">
                            <img class="star" src="{% static 'cocktail/images/star.png' %}" alt="">
                            <img class="star" src="{% static 'cocktail/images/star_gray.png' %}" alt="">
                            <img class="star" src="{% static 'cocktail/images/star_gray.png' %}" alt="">
                            <img class="star" src="{% static 'cocktail/images/star_gray.png' %} %}'" alt="">
                        </div>
                    </div>
                </div>
                <!-- The Modal -->

                <!--블루하와이-->
                {% elif cock.eng_name == "Blue Hawaii" %}
                <button class="modal-custom-button" href="#myModal6">
                    <img class="modal-custom-button" href="#myModal6" src="{{ cock.image }}"/>
                </button>

                <form action="{% url 'cocktail:likes' cocktails_id=cocktail.5.id next_page='cocktail' %}" >
                    {% csrf_token %}
                    {% if user in cocktail.5.like.all %}
                        <input type="image" class="likeBtn" id="img" src="{% static 'cocktail/images/like.png' %}" >
                    {% else %}
                        <input type="image" class="likeBtn" id="img" src="{% static 'cocktail/images/unlike.png' %}" >
                    {% endif %}
                </form>

                <section class="titleKr">
                    <p>{{ cock.name }}</p>
                </section>
                <section class="titleEng">
                    <p>{{ cock.eng_name }}</p>
                </section>

                <!-- The Modal -->
                <div id="myModal6" class="modal-custom">
                    <!-- Modal content -->
                    <div class="modal-content">
                        <div class="modal-header">
                            <span class="close-modal">×</span>
                            <br><br>
                            <img class="thumbnail" src="{{ cock.image }}" alt="">

                            <section class="titleKr">
                                <p>{{ cock.name }}</p>
                            </section>
                            <section class="titleEng">
                                <p>{{ cock.eng_name }}</p>
                            </section>
                        </div>
                        <br>
                        <div class="modal-body">

                            <p class="content">{{ cock.description|linebreaks }}
                            </p>

                            <p class="modal-title">도수</p>
                            <p class="content">{{ cock.alcohol }}</p>

                            <p class="modal-title">맛</p>
                            <p class="content">{{ cock.taste }}</p>

                            <p class="modal-title">베이스</p>
                            <p class="content">{{ cock.base }}</p>

                            <p class="modal-title">어울리는 음식</p>
                            <p class="content">{{ cock.match_food }}</p>
                        </div>
                        <div class="modal-footer">
                            <img class="star" src="{% static 'cocktail/images/star.png' %}" alt="">
                            <img class="star" src="{% static 'cocktail/images/star.png' %}" alt="">
                            <img class="star" src="{% static 'cocktail/images/star_gray.png' %}" alt="">
                            <img class="star" src="{% static 'cocktail/images/star_gray.png' %}" alt="">
                            <img class="star" src="{% static 'cocktail/images/star_gray.png' %} %}'" alt="">
                        </div>
                    </div>
                </div>
                <!-- The Modal -->

                <!--미도리사워-->
                {% elif cock.eng_name == "Midori Sour" %}
                <button class="modal-custom-button" href="#myModal7">
                    <img class="modal-custom-button" href="#myModal7" src="{{ cock.image }}"/>
                </button>

                <form action="{% url 'cocktail:likes' cocktails_id=cocktail.6.id next_page='cocktail' %}" >
                    {% csrf_token %}
                    {% if user in cocktail.6.like.all %}
                        <input type="image" class="likeBtn" id="img" src="{% static 'cocktail/images/like.png' %}" >
                    {% else %}
                        <input type="image" class="likeBtn" id="img" src="{% static 'cocktail/images/unlike.png' %}" >
                    {% endif %}
                </form>

                <section class="titleKr">
                    <p>{{ cock.name }}</p>
                </section>
                <section class="titleEng">
                    <p>{{ cock.eng_name }}</p>
                </section>

                <!-- The Modal -->
                <div id="myModal7" class="modal-custom">
                    <!-- Modal content -->
                    <div class="modal-content">
                        <div class="modal-header">
                            <span class="close-modal">×</span>
                            <br><br>
                            <img class="thumbnail" src="{{ cock.image }}" alt="">

                            <section class="titleKr">
                                <p>{{ cock.name }}</p>
                            </section>
                            <section class="titleEng">
                                <p>{{ cock.eng_name }}</p>
                            </section>
                        </div>
                        <br>
                        <div class="modal-body">

                            <p class="content">{{ cock.description|linebreaks }}
                            </p>

                            <p class="modal-title">도수</p>
                            <p class="content">{{ cock.alcohol }}</p>

                            <p class="modal-title">맛</p>
                            <p class="content">{{ cock.taste }}</p>

                            <p class="modal-title">베이스</p>
                            <p class="content">{{ cock.base }}</p>

                            <p class="modal-title">어울리는 음식</p>
                            <p class="content">{{ cock.match_food }}</p>
                        </div>
                        <div class="modal-footer">
                            <img class="star" src="{% static 'cocktail/images/star.png' %}" alt="">
                            <img class="star" src="{% static 'cocktail/images/star.png' %}" alt="">
                            <img class="star" src="{% static 'cocktail/images/star_gray.png' %}" alt="">
                            <img class="star" src="{% static 'cocktail/images/star_gray.png' %}" alt="">
                            <img class="star" src="{% static 'cocktail/images/star_gray.png' %} %}'" alt="">
                        </div>
                    </div>
                </div>
                <!-- The Modal -->

                <!--맨해튼-->
                {% elif cock.eng_name == "Manhhattan" %}
                <button class="modal-custom-button" href="#myModal8">
                    <img class="modal-custom-button" href="#myModal8" src="{{ cock.image }}"/>
                </button>

                <form action="{% url 'cocktail:likes' cocktails_id=cocktail.7.id next_page='cocktail' %}" >
                    {% csrf_token %}
                    {% if user in cocktail.7.like.all %}
                        <input type="image" class="likeBtn" id="img" src="{% static 'cocktail/images/like.png' %}" >
                    {% else %}
                        <input type="image" class="likeBtn" id="img" src="{% static 'cocktail/images/unlike.png' %}" >
                    {% endif %}
                </form>

                <section class="titleKr">
                    <p>{{ cock.name }}</p>
                </section>
                <section class="titleEng">
                    <p>{{ cock.eng_name }}</p>
                </section>

                <!-- The Modal -->
                <div id="myModal8" class="modal-custom">
                    <!-- Modal content -->
                    <div class="modal-content">
                        <div class="modal-header">
                            <span class="close-modal">×</span>
                            <br><br>
                            <img class="thumbnail" src="{{ cock.image }}" alt="">

                            <section class="titleKr">
                                <p>{{ cock.name }}</p>
                            </section>
                            <section class="titleEng">
                                <p>{{ cock.eng_name }}</p>
                            </section>
                        </div>
                        <br>
                        <div class="modal-body">

                            <p class="content">{{ cock.description|linebreaks }}
                            </p>

                            <p class="modal-title">도수</p>
                            <p class="content">{{ cock.alcohol }}</p>

                            <p class="modal-title">맛</p>
                            <p class="content">{{ cock.taste }}</p>

                            <p class="modal-title">베이스</p>
                            <p class="content">{{ cock.base }}</p>

                            <p class="modal-title">어울리는 음식</p>
                            <p class="content">{{ cock.match_food }}</p>
                        </div>
                        <div class="modal-footer">
                            <img class="star" src="{% static 'cocktail/images/star.png' %}" alt="">
                            <img class="star" src="{% static 'cocktail/images/star.png' %}" alt="">
                            <img class="star" src="{% static 'cocktail/images/star_gray.png' %}" alt="">
                            <img class="star" src="{% static 'cocktail/images/star_gray.png' %}" alt="">
                            <img class="star" src="{% static 'cocktail/images/star_gray.png' %} %}'" alt="">
                        </div>
                    </div>
                </div>
                <!-- The Modal -->

                <!--블랙러시안-->
                {% elif cock.eng_name == "Black Russian" %}
                <button class="modal-custom-button" href="#myModal9">
                    <img class="modal-custom-button" href="#myModal9" src="{{ cock.image }}"/>
                </button>

                <form action="{% url 'cocktail:likes' cocktails_id=cocktail.16.id next_page='cocktail' %}" >
                    {% csrf_token %}
                    {% if user in cocktail.16.like.all %}
                        <input type="image" class="likeBtn" id="img" src="{% static 'cocktail/images/like.png' %}" >
                    {% else %}
                        <input type="image" class="likeBtn" id="img" src="{% static 'cocktail/images/unlike.png' %}" >
                    {% endif %}
                </form>

                <section class="titleKr">
                    <p>{{ cock.name }}</p>
                </section>
                <section class="titleEng">
                    <p>{{ cock.eng_name }}</p>
                </section>

                <!-- The Modal -->
                <div id="myModal9" class="modal-custom">
                    <!-- Modal content -->
                    <div class="modal-content">
                        <div class="modal-header">
                            <span class="close-modal">×</span>
                            <br><br>
                            <img class="thumbnail" src="{{ cock.image }}" alt="">

                            <section class="titleKr">
                                <p>{{ cock.name }}</p>
                            </section>
                            <section class="titleEng">
                                <p>{{ cock.eng_name }}</p>
                            </section>
                        </div>
                        <br>
                        <div class="modal-body">

                            <p class="content">{{ cock.description|linebreaks }}
                            </p>

                            <p class="modal-title">도수</p>
                            <p class="content">{{ cock.alcohol }}</p>

                            <p class="modal-title">맛</p>
                            <p class="content">{{ cock.taste }}</p>

                            <p class="modal-title">베이스</p>
                            <p class="content">{{ cock.base }}</p>

                            <p class="modal-title">어울리는 음식</p>
                            <p class="content">{{ cock.match_food }}</p>
                        </div>
                        <div class="modal-footer">
                            <img class="star" src="{% static 'cocktail/images/star.png' %}" alt="">
                            <img class="star" src="{% static 'cocktail/images/star.png' %}" alt="">
                            <img class="star" src="{% static 'cocktail/images/star_gray.png' %}" alt="">
                            <img class="star" src="{% static 'cocktail/images/star_gray.png' %}" alt="">
                            <img class="star" src="{% static 'cocktail/images/star_gray.png' %} %}'" alt="">
                        </div>
                    </div>
                </div>
                <!-- The Modal -->

                <!--잭콕-->
                {% elif cock.eng_name == "Jack & Coke" %}
                <button class="modal-custom-button" href="#myModal10">
                    <img class="modal-custom-button" href="#myModal10" src="{{ cock.image }}"/>
                </button>

                <form action="{% url 'cocktail:likes' cocktails_id=cocktail.17.id next_page='cocktail' %}" >
                    {% csrf_token %}
                    {% if user in cocktail.17.like.all %}
                        <input type="image" class="likeBtn" id="img" src="{% static 'cocktail/images/like.png' %}" >
                    {% else %}
                        <input type="image" class="likeBtn" id="img" src="{% static 'cocktail/images/unlike.png' %}" >
                    {% endif %}
                </form>

                <section class="titleKr">
                    <p>{{ cock.name }}</p>
                </section>
                <section class="titleEng">
                    <p>{{ cock.eng_name }}</p>
                </section>

                <!-- The Modal -->
                <div id="myModal10" class="modal-custom">
                    <!-- Modal content -->
                    <div class="modal-content">
                        <div class="modal-header">
                            <span class="close-modal">×</span>
                            <br><br>
                            <img class="thumbnail" src="{{ cock.image }}" alt="">

                            <section class="titleKr">
                                <p>{{ cock.name }}</p>
                            </section>
                            <section class="titleEng">
                                <p>{{ cock.eng_name }}</p>
                            </section>
                        </div>
                        <br>
                        <div class="modal-body">

                            <p class="content">{{ cock.description|linebreaks }}
                            </p>

                            <p class="modal-title">도수</p>
                            <p class="content">{{ cock.alcohol }}</p>

                            <p class="modal-title">맛</p>
                            <p class="content">{{ cock.taste }}</p>

                            <p class="modal-title">베이스</p>
                            <p class="content">{{ cock.base }}</p>

                            <p class="modal-title">어울리는 음식</p>
                            <p class="content">{{ cock.match_food }}</p>
                        </div>
                        <div class="modal-footer">
                            <img class="star" src="{% static 'cocktail/images/star.png' %}" alt="">
                            <img class="star" src="{% static 'cocktail/images/star.png' %}" alt="">
                            <img class="star" src="{% static 'cocktail/images/star_gray.png' %}" alt="">
                            <img class="star" src="{% static 'cocktail/images/star_gray.png' %}" alt="">
                            <img class="star" src="{% static 'cocktail/images/star_gray.png' %} %}'" alt="">
                        </div>
                    </div>
                </div>
                <!-- The Modal -->

                <!--데킬라선라이즈-->
                {% elif cock.eng_name == "Tequila Sunrise" %}
                <button class="modal-custom-button" href="#myModal11">
                    <img class="modal-custom-button" href="#myModal11" src="{{ cock.image }}"/>
                </button>

                <form action="{% url 'cocktail:likes' cocktails_id=cocktail.18.id next_page='cocktail' %}" >
                    {% csrf_token %}
                    {% if user in cocktail.18.like.all %}
                        <input type="image" class="likeBtn" id="img" src="{% static 'cocktail/images/like.png' %}" >
                    {% else %}
                        <input type="image" class="likeBtn" id="img" src="{% static 'cocktail/images/unlike.png' %}" >
                    {% endif %}
                </form>

                <section class="titleKr">
                    <p>{{ cock.name }}</p>
                </section>
                <section class="titleEng">
                    <p>{{ cock.eng_name }}</p>
                </section>

                <!-- The Modal -->
                <div id="myModal11" class="modal-custom">
                    <!-- Modal content -->
                    <div class="modal-content">
                        <div class="modal-header">
                            <span class="close-modal">×</span>
                            <br><br>
                            <img class="thumbnail" src="{{ cock.image }}" alt="">

                            <section class="titleKr">
                                <p>{{ cock.name }}</p>
                            </section>
                            <section class="titleEng">
                                <p>{{ cock.eng_name }}</p>
                            </section>
                        </div>
                        <br>
                        <div class="modal-body">

                            <p class="content">{{ cock.description|linebreaks }}
                            </p>

                            <p class="modal-title">도수</p>
                            <p class="content">{{ cock.alcohol }}</p>

                            <p class="modal-title">맛</p>
                            <p class="content">{{ cock.taste }}</p>

                            <p class="modal-title">베이스</p>
                            <p class="content">{{ cock.base }}</p>

                            <p class="modal-title">어울리는 음식</p>
                            <p class="content">{{ cock.match_food }}</p>
                        </div>
                        <div class="modal-footer">
                            <img class="star" src="{% static 'cocktail/images/star.png' %}" alt="">
                            <img class="star" src="{% static 'cocktail/images/star.png' %}" alt="">
                            <img class="star" src="{% static 'cocktail/images/star_gray.png' %}" alt="">
                            <img class="star" src="{% static 'cocktail/images/star_gray.png' %}" alt="">
                            <img class="star" src="{% static 'cocktail/images/star_gray.png' %} %}'" alt="">
                        </div>
                    </div>
                </div>
                <!-- The Modal -->

                <!--스크류드라이버-->
                {% elif cock.eng_name == "Screw Drive" %}
                <button class="modal-custom-button" href="#myModal12">
                    <img class="modal-custom-button" href="#myModal12" src="{{ cock.image }}"/>
                </button>

                <form action="{% url 'cocktail:likes' cocktails_id=cocktail.19.id next_page='cocktail' %}" >
                    {% csrf_token %}
                    {% if user in cocktail.19.like.all %}
                        <input type="image" class="likeBtn" id="img" src="{% static 'cocktail/images/like.png' %}" >
                    {% else %}
                        <input type="image" class="likeBtn" id="img" src="{% static 'cocktail/images/unlike.png' %}" >
                    {% endif %}
                </form>

                <section class="titleKr">
                    <p>{{ cock.name }}</p>
                </section>
                <section class="titleEng">
                    <p>{{ cock.eng_name }}</p>
                </section>

                <!-- The Modal -->
                <div id="myModal12" class="modal-custom">
                    <!-- Modal content -->
                    <div class="modal-content">
                        <div class="modal-header">
                            <span class="close-modal">×</span>
                            <br><br>
                            <img class="thumbnail" src="{{ cock.image }}" alt="">

                            <section class="titleKr">
                                <p>{{ cock.name }}</p>
                            </section>
                            <section class="titleEng">
                                <p>{{ cock.eng_name }}</p>
                            </section>
                        </div>
                        <br>
                        <div class="modal-body">

                            <p class="content">{{ cock.description|linebreaks }}
                            </p>

                            <p class="modal-title">도수</p>
                            <p class="content">{{ cock.alcohol }}</p>

                            <p class="modal-title">맛</p>
                            <p class="content">{{ cock.taste }}</p>

                            <p class="modal-title">베이스</p>
                            <p class="content">{{ cock.base }}</p>

                            <p class="modal-title">어울리는 음식</p>
                            <p class="content">{{ cock.match_food }}</p>
                        </div>
                        <div class="modal-footer">
                            <img class="star" src="{% static 'cocktail/images/star.png' %}" alt="">
                            <img class="star" src="{% static 'cocktail/images/star.png' %}" alt="">
                            <img class="star" src="{% static 'cocktail/images/star_gray.png' %}" alt="">
                            <img class="star" src="{% static 'cocktail/images/star_gray.png' %}" alt="">
                            <img class="star" src="{% static 'cocktail/images/star_gray.png' %} %}'" alt="">
                        </div>
                    </div>
                </div>
                <!-- The Modal -->

                <!--보드카 크랜베리-->
                {% elif cock.eng_name == "Vodka Cranberry" %}
                <button class="modal-custom-button" href="#myModal13">
                    <img class="modal-custom-button" href="#myModal13" src="{{ cock.image }}"/>
                </button>

                <form action="{% url 'cocktail:likes' cocktails_id=cocktail.20.id next_page='cocktail' %}" >
                    {% csrf_token %}
                    {% if user in cocktail.20.like.all %}
                        <input type="image" class="likeBtn" id="img" src="{% static 'cocktail/images/like.png' %}" >
                    {% else %}
                        <input type="image" class="likeBtn" id="img" src="{% static 'cocktail/images/unlike.png' %}" >
                    {% endif %}
                </form>

                <section class="titleKr">
                    <p>{{ cock.name }}</p>
                </section>
                <section class="titleEng">
                    <p>{{ cock.eng_name }}</p>
                </section>

                <!-- The Modal -->
                <div id="myModal13" class="modal-custom">
                    <!-- Modal content -->
                    <div class="modal-content">
                        <div class="modal-header">
                            <span class="close-modal">×</span>
                            <br><br>
                            <img class="thumbnail" src="{{ cock.image }}" alt="">

                            <section class="titleKr">
                                <p>{{ cock.name }}</p>
                            </section>
                            <section class="titleEng">
                                <p>{{ cock.eng_name }}</p>
                            </section>
                        </div>
                        <br>
                        <div class="modal-body">

                            <p class="content">{{ cock.description|linebreaks }}
                            </p>

                            <p class="modal-title">도수</p>
                            <p class="content">{{ cock.alcohol }}</p>

                            <p class="modal-title">맛</p>
                            <p class="content">{{ cock.taste }}</p>

                            <p class="modal-title">베이스</p>
                            <p class="content">{{ cock.base }}</p>

                            <p class="modal-title">어울리는 음식</p>
                            <p class="content">{{ cock.match_food }}</p>
                        </div>
                        <div class="modal-footer">
                            <img class="star" src="{% static 'cocktail/images/star.png' %}" alt="">
                            <img class="star" src="{% static 'cocktail/images/star.png' %}" alt="">
                            <img class="star" src="{% static 'cocktail/images/star_gray.png' %}" alt="">
                            <img class="star" src="{% static 'cocktail/images/star_gray.png' %}" alt="">
                            <img class="star" src="{% static 'cocktail/images/star_gray.png' %} %}'" alt="">
                        </div>
                    </div>
                </div>
                <!-- The Modal -->

                <!--깔루아밀크-->
                {% elif cock.eng_name == "Kahlua Milk" %}
                <button class="modal-custom-button" href="#myModal14">
                    <img class="modal-custom-button" href="#myModal14" src="{{ cock.image }}"/>
                </button>

                <form action="{% url 'cocktail:likes' cocktails_id=cocktail.21.id next_page='cocktail' %}" >
                    {% csrf_token %}
                    {% if user in cocktail.21.like.all %}
                        <input type="image" class="likeBtn" id="img" src="{% static 'cocktail/images/like.png' %}" >
                    {% else %}
                        <input type="image" class="likeBtn" id="img" src="{% static 'cocktail/images/unlike.png' %}" >
                    {% endif %}
                </form>

                <section class="titleKr">
                    <p>{{ cock.name }}</p>
                </section>
                <section class="titleEng">
                    <p>{{ cock.eng_name }}</p>
                </section>

                <!-- The Modal -->
                <div id="myModal14" class="modal-custom">
                    <!-- Modal content -->
                    <div class="modal-content">
                        <div class="modal-header">
                            <span class="close-modal">×</span>
                            <br><br>
                            <img class="thumbnail" src="{{ cock.image }}" alt="">

                            <section class="titleKr">
                                <p>{{ cock.name }}</p>
                            </section>
                            <section class="titleEng">
                                <p>{{ cock.eng_name }}</p>
                            </section>
                        </div>
                        <br>
                        <div class="modal-body">

                            <p class="content">{{ cock.description|linebreaks }}
                            </p>

                            <p class="modal-title">도수</p>
                            <p class="content">{{ cock.alcohol }}</p>

                            <p class="modal-title">맛</p>
                            <p class="content">{{ cock.taste }}</p>

                            <p class="modal-title">베이스</p>
                            <p class="content">{{ cock.base }}</p>

                            <p class="modal-title">어울리는 음식</p>
                            <p class="content">{{ cock.match_food }}</p>
                        </div>
                        <div class="modal-footer">
                            <img class="star" src="{% static 'cocktail/images/star.png' %}" alt="">
                            <img class="star" src="{% static 'cocktail/images/star.png' %}" alt="">
                            <img class="star" src="{% static 'cocktail/images/star_gray.png' %}" alt="">
                            <img class="star" src="{% static 'cocktail/images/star_gray.png' %}" alt="">
                            <img class="star" src="{% static 'cocktail/images/star_gray.png' %} %}'" alt="">
                        </div>
                    </div>
                </div>
                <!-- The Modal -->

                <!--진토닉-->
                {% elif cock.eng_name == "Gin and Tonic" %}
                <button class="modal-custom-button" href="#myModal15">
                    <img class="modal-custom-button" href="#myModal15" src="{{ cock.image }}"/>
                </button>

                <form action="{% url 'cocktail:likes' cocktails_id=cocktail.22.id next_page='cocktail' %}" >
                    {% csrf_token %}
                    {% if user in cocktail.22.like.all %}
                        <input type="image" class="likeBtn" id="img" src="{% static 'cocktail/images/like.png' %}" >
                    {% else %}
                        <input type="image" class="likeBtn" id="img" src="{% static 'cocktail/images/unlike.png' %}" >
                    {% endif %}
                </form>

                <section class="titleKr">
                    <p>{{ cock.name }}</p>
                </section>
                <section class="titleEng">
                    <p>{{ cock.eng_name }}</p>
                </section>

                <!-- The Modal -->
                <div id="myModal15" class="modal-custom">
                    <!-- Modal content -->
                    <div class="modal-content">
                        <div class="modal-header">
                            <span class="close-modal">×</span>
                            <br><br>
                            <img class="thumbnail" src="{{ cock.image }}" alt="">

                            <section class="titleKr">
                                <p>{{ cock.name }}</p>
                            </section>
                            <section class="titleEng">
                                <p>{{ cock.eng_name }}</p>
                            </section>
                        </div>
                        <br>
                        <div class="modal-body">

                            <p class="content">{{ cock.description|linebreaks }}
                            </p>

                            <p class="modal-title">도수</p>
                            <p class="content">{{ cock.alcohol }}</p>

                            <p class="modal-title">맛</p>
                            <p class="content">{{ cock.taste }}</p>

                            <p class="modal-title">베이스</p>
                            <p class="content">{{ cock.base }}</p>

                            <p class="modal-title">어울리는 음식</p>
                            <p class="content">{{ cock.match_food }}</p>
                        </div>
                        <div class="modal-footer">
                            <img class="star" src="{% static 'cocktail/images/star.png' %}" alt="">
                            <img class="star" src="{% static 'cocktail/images/star.png' %}" alt="">
                            <img class="star" src="{% static 'cocktail/images/star_gray.png' %}" alt="">
                            <img class="star" src="{% static 'cocktail/images/star_gray.png' %}" alt="">
                            <img class="star" src="{% static 'cocktail/images/star_gray.png' %} %}'" alt="">
                        </div>
                    </div>
                </div>
                <!-- The Modal -->

                <!--마가리타-->
                {% elif cock.eng_name == "Margarita" %}
                <button class="modal-custom-button" href="#myModal16">
                    <img class="modal-custom-button" href="#myModal16" src="{{ cock.image }}"/>
                </button>

                <form action="{% url 'cocktail:likes' cocktails_id=cocktail.23.id next_page='cocktail' %}" >
                    {% csrf_token %}
                    {% if user in cocktail.23.like.all %}
                        <input type="image" class="likeBtn" id="img" src="{% static 'cocktail/images/like.png' %}" >
                    {% else %}
                        <input type="image" class="likeBtn" id="img" src="{% static 'cocktail/images/unlike.png' %}" >
                    {% endif %}
                </form>

                <section class="titleKr">
                    <p>{{ cock.name }}</p>
                </section>
                <section class="titleEng">
                    <p>{{ cock.eng_name }}</p>
                </section>

                <!-- The Modal -->
                <div id="myModal16" class="modal-custom">
                    <!-- Modal content -->
                    <div class="modal-content">
                        <div class="modal-header">
                            <span class="close-modal">×</span>
                            <br><br>
                            <img class="thumbnail" src="{{ cock.image }}" alt="">

                            <section class="titleKr">
                                <p>{{ cock.name }}</p>
                            </section>
                            <section class="titleEng">
                                <p>{{ cock.eng_name }}</p>
                            </section>
                        </div>
                        <br>
                        <div class="modal-body">

                            <p class="content">{{ cock.description|linebreaks }}
                            </p>

                            <p class="modal-title">도수</p>
                            <p class="content">{{ cock.alcohol }}</p>

                            <p class="modal-title">맛</p>
                            <p class="content">{{ cock.taste }}</p>

                            <p class="modal-title">베이스</p>
                            <p class="content">{{ cock.base }}</p>

                            <p class="modal-title">어울리는 음식</p>
                            <p class="content">{{ cock.match_food }}</p>
                        </div>
                        <div class="modal-footer">
                            <img class="star" src="{% static 'cocktail/images/star.png' %}" alt="">
                            <img class="star" src="{% static 'cocktail/images/star.png' %}" alt="">
                            <img class="star" src="{% static 'cocktail/images/star_gray.png' %}" alt="">
                            <img class="star" src="{% static 'cocktail/images/star_gray.png' %}" alt="">
                            <img class="star" src="{% static 'cocktail/images/star_gray.png' %} %}'" alt="">
                        </div>
                    </div>
                </div>
                <!-- The Modal -->

                {% endif %}
            </div>        
            {% endfor %}
        </div>
    </section>

    <script>
        // Get the button that opens the modal
        var btn = document.querySelectorAll("button.modal-custom-button");

        // All page modals
        var modals = document.querySelectorAll('.modal-custom');

        // Get the <span> element that closes the modal
        var spans = document.getElementsByClassName("close-modal");

        // 별관련
        var stars = document.getElementsByClassName("stars");

        // When the user clicks the button, open the modal
        for (var i = 0; i < btn.length; i++) {
            btn[i].onclick = function (e) {
                e.preventDefault();
                modal = document.querySelector(e.target.getAttribute("href"));
                modal.style.display = "block";
            }
        }

        // When the user clicks on <span> (x), close the modal
        for (var i = 0; i < spans.length; i++) {
            spans[i].onclick = function () {
                for (var index in modals) {
                    if (typeof modals[index].style !== 'undefined') modals[index].style.display = "none";
                }
            }
        }

        // When the user clicks anywhere outside of the modal, close it


    </script>

{% endblock %}