<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../cocktail/static/cocktail/info/style.css">
</head>
<body>
    <div class="info-page screen">
        <div class="overlap-group1">
        <div class="flex-row">
            <a href="/test.html">
                <img class="logo" src="../../cocktail/static/cocktail/images/logo.svg" />
            </a>
            <div class="navbar">
                <a href="/test.html">
                    <div class="navbar-link-text-1 pretendard-medium-silver-chalice-18px"> 칵테일정보</div>
                </a>
                <a href="/test.html">
                    <div class="navbar-link-cocktail pretendard-medium-silver-chalice-18px">Cocktail</div>
                </a>
                <a href="/test.html">
                    <div class="navbar-link-k-ocktail pretendard-medium-silver-chalice-18px">K-ocktail</div>
                </a>
                <a href="/test.html">
                    <div class="navbar-link-text-2 pretendard-medium-silver-chalice-18px"> 술 조합 추천 </div>
                </a>
                <a href="/test.html">
                    <div class="navbar-link-text-3 pretendard-medium-silver-chalice-18px">술 문화 공유</div>
                </a>
            </div>
            <a href="/test.html">
            <div class="login">LOGIN</div>
            </a>
            <a href="/test.html">
            <img class="icon_H" src="../../cocktail/static/cocktail/images/icon_H.svg" />
            </a>
            <a href="/test.html">
            <img class="ellipse-1" src="../../cocktail/static/cocktail/images/ellipse-1.png" />
            </a>
        </div>
        <div class="rectangle-34"></div>
        </div>
        <h1 class="title">Cocktail</h1>
        <p class="text-19">여러 종류의 술을 베이스로 하여 여러가지 재료를 혼합하여 만든 혼합주</p>
        <img class="line-10" src="../../cocktail/static/cocktail/images/line-10.svg" />
        <div class="text-4 pretendard-medium-licorice-28px">쉽게 알아보는 베이스 종류</div>
        <div class="text-12">클릭하면 해당 베이스 술에 대해서 더 설명해드릴게요 </div>
        <div class="overlap-group">
            <img class="B_wsky" id="img_BW" src="../../cocktail/static/cocktail/images/B_wsky.jpg" />
            <img class="B_jin" id="img_BJ" src="../../cocktail/static/cocktail/images/B_jin.jpg" />
            <img class="B_tql" id="img_BT" src="../../cocktail/static/cocktail/images/B_tql.jpg" />
            <img class="B_vdk" id="img_BV" src="../../cocktail/static/cocktail/images/B_vdk.jpg" />
            <img class="B_lqr" id="img_BL" src="../../cocktail/static/cocktail/images/B_lqr.jpg" />
            <img class="B_rum" id="img_BR" src="../../cocktail/static/cocktail/images/B_rum.jpg" />
            <img class="B_brdy" id="img_BB" src="../../cocktail/static/cocktail/images/B_brdy.jpg" />
            <a href="/wisky.html">
            <img class="A_wsky" id="img_AW" src="../../cocktail/static/cocktail/images/A_wsky.jpg" />
            </a>
            <a href="/jin.html">
            <img class="A_jin" id="img_AJ" src="../../cocktail/static/cocktail/images/A_jin.jpg" />
            </a>
            <a href="/tequila.html"k>
            <img class="A_tql" id="img_AT" src="../../cocktail/static/cocktail/images/A_tql.jpg" />
            </a>
            <a href="/vodka.html">
            <img class="A_vdk" id="img_AV" src="../../cocktail/static/cocktail/images/A_vdk.jpg" />
            </a>
            <a href="/liqueur.html">
            <img class="A_lqr" id="img_AL" src="../../cocktail/static/cocktail/images/A_lqr.jpg" />
            </a>
            <a href="/rum.html">
            <img class="A_rum" id="img_AR" src="../../cocktail/static/cocktail/images/A_rum.jpg" />
            </a>
            <a href="/brandy.html">
            <img class="A_brdy" id="img_AB" src="../../cocktail/static/cocktail/images/A_brdy.jpg" />
            </a>
            <div class="rectangle-stand"></div>
            <div class="text-wsky pretendard-medium-silver-chalice-20px">위스키</div>
            <div class="text-tql pretendard-medium-silver-chalice-20px">데킬라</div>
            <div class="text-jin-bold">진</div>
            <div class="text-vdk pretendard-medium-silver-chalice-20px">보드카</div>
            <div class="text-lqr pretendard-medium-silver-chalice-20px">리큐르</div>
            <div class="text-rum pretendard-medium-silver-chalice-20px">럼</div>
            <div class="text-brdy pretendard-medium-silver-chalice-20px">브랜디</div>
        </div>
        <div class="text-7 pretendard-medium-licorice-28px">진</div>
        <div class="place">Jin</div>
        <div class="content-group">
            <div>
                <img class="content-img" src="../../cocktail/static/cocktail/images/glass.jpg" />
            </div>
            <div class="content-text">
                <div class="lorem-ipsum-dolor-si pretendard-medium-black-18px">
                <!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit. Laoreet ac risus, natoque fermentum
                quam aliquam quis. Facilisis magna dictumst
                id amet felis, lectus quis. Magna rhoncus felis, eget aliquet ultrices consequat aenean
                pulvinar ut. Molestie etiam vulputate et
                facilisis. Et eros faucibus duis aliquet vitae facilisis elementum non aliquam. -->
                진은 곡물을 원료로 하여 증류한 증류주에, 주니퍼 베리를 주원료로 한 향료식품을 첨가하여 재증류한 술입니다. 
                유명한 진 브랜드로는 고든스 진(Godon’s Gin), 탱거레이 진(Tanqueray Gin), 탱거레이 넘버 10(Tanqueray NO. 10), 비피터 진(Beefeater Gin), 봄베이 사파이어(Bombay Sapphire) 등이 있습니다
                </div>
                <div class="lorem-ipsum-dolor-si pretendard-medium-black-18px">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Laoreet ac risus, natoque fermentum
                quam aliquam quis. Facilisis magna dictumst
                id amet felis, lectus quis. Magna rhoncus felis, eget aliquet ultrices consequat aenean
                pulvinar ut.
                </div>
            </div>
            </div>
        <div class="text-5 pretendard-medium-licorice-28px">추천 칵테일</div>
        <div class="flex-row-1">
            <img class="recommend_A" src="../../cocktail/static/cocktail/images/recommend_A.png" />
            <img class="recommend_B" src="../../cocktail/static/cocktail/images/recommend_B.png" />
            <img class="recommend_C" src="../../cocktail/static/cocktail/images/recommend_C.png" />
        </div>
        <div class="text-container">
        <div class="text-10 pretendard-medium-licorice-20px">추천1</div>
        <div class="text-8 pretendard-medium-licorice-20px">추천2</div>
        <div class="text-9 pretendard-medium-licorice-20px">추천3</div>
        </div>
        <div class="overlap-group2">
            <a href="/test.html">
                <div class="text-20">칵테일 제조하러 가보기!</div>
            </a>        </div>
        <div class="text-6 pretendard-medium-licorice-28px"> 더 추가할 내용?</div>
        <div class="logo-container">
            <div class="x04-_-logo">
                <div class="univ_final-1">
                    <img class="lion_logo" src="../../cocktail/static/cocktail/images/lion_logo.svg" /><img class="likelion" src="../../cocktail/static/cocktail/images/likelion.svg" />
                </div>
                <img class="x_icon" src="../../cocktail/static/cocktail/images/x_icon.svg" />
            </div>
            <div class="logo-1">
                <div class="name-here">HANSUNG</div>
                <div class="univ">
                    <div class="margin"></div>
                    <img class="univ" src="../../cocktail/static/cocktail/images/univ.svg" />
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
            <script>
                $(document).ready(function(){
                        /*웹페이지 열었을 때*/
                        $("#img_BW").show();
                        $("#img_BJ").hide();
                        $("#img_BT").show();
                        $("#img_BV").show();
                        $("#img_BL").show();
                        $("#img_BR").show();
                        $("#img_BB").show();
                        $("#img_AW").hide();
                        $("#img_AJ").show();
                        $("#img_AT").hide();
                        $("#img_AV").hide();
                        $("#img_AL").hide();
                        $("#img_AR").hide();
                        $("#img_AB").hide();
            
                        /*imgB을 클릭했을 때 imgA를 보여줌*/
                        $("#img_BW").mouseover(function(){
                            $("#img_BW").hide();
                            $("#img_AJ").show();
                            $("#img_AT").hide();
                            $("#img_AV").hide();
                            $("#img_AL").hide();
                            $("#img_AR").hide();
                            $("#img_AB").hide();
                            $("#img_AW").show();
                            $("#img_BJ").show();
                            $("#img_BT").show();
                            $("#img_BV").show();
                            $("#img_BL").show();
                            $("#img_BR").show();
                            $("#img_BB").show();
                        });
                        $("#img_BJ").mouseover(function(){
                            $("#img_BJ").hide();
                            $("#img_AW").hide();
                            $("#img_AT").hide();
                            $("#img_AV").hide();
                            $("#img_AL").hide();
                            $("#img_AR").hide();
                            $("#img_AB").hide();
                            $("#img_AJ").show();
                            $("#img_BW").show();
                            $("#img_BT").show();
                            $("#img_BV").show();
                            $("#img_BL").show();
                            $("#img_BR").show();
                            $("#img_BB").show();
                        });
                        $("#img_BT").mouseover(function(){
                            $("#img_BT").hide();
                            $("#img_AW").hide();
                            $("#img_AJ").show();
                            $("#img_AV").hide();
                            $("#img_AL").hide();
                            $("#img_AR").hide();
                            $("#img_AB").hide();
                            $("#img_AT").show();
                            $("#img_BW").show();
                            $("#img_BJ").show();
                            $("#img_BV").show();
                            $("#img_BL").show();
                            $("#img_BR").show();
                            $("#img_BB").show();
                        });
                        $("#img_BV").mouseover(function(){
                            $("#img_BV").hide();
                            $("#img_AW").hide();
                            $("#img_AJ").show();
                            $("#img_AT").hide();
                            $("#img_AL").hide();
                            $("#img_AR").hide();
                            $("#img_AB").hide();
                            $("#img_AV").show();
                            $("#img_BW").show();
                            $("#img_BJ").show();
                            $("#img_BT").show();
                            $("#img_BL").show();
                            $("#img_BR").show();
                            $("#img_BB").show();
                        });
                        $("#img_BL").mouseover(function(){
                            $("#img_BL").hide();
                            $("#img_AW").hide();
                            $("#img_AJ").show();
                            $("#img_AT").hide();
                            $("#img_AV").hide();
                            $("#img_AR").hide();
                            $("#img_AB").hide();
                            $("#img_AL").show();
                            $("#img_BW").show();
                            $("#img_BJ").show();
                            $("#img_BT").show();
                            $("#img_BV").show();
                            $("#img_BR").show();
                            $("#img_BB").show();
                        });
                        $("#img_BR").mouseover(function(){
                            $("#img_BR").hide();
                            $("#img_AW").hide();
                            $("#img_AJ").show();
                            $("#img_AT").hide();
                            $("#img_AV").hide();
                            $("#img_AL").hide();
                            $("#img_AB").hide();
                            $("#img_AR").show();
                            $("#img_BW").show();
                            $("#img_BJ").show();
                            $("#img_BT").show();
                            $("#img_BV").show();
                            $("#img_BL").show();
                            $("#img_BB").show();
                        });
                        $("#img_BB").mouseover(function(){
                            $("#img_BB").hide();
                            $("#img_AW").hide();
                            $("#img_AJ").show();
                            $("#img_AT").hide();
                            $("#img_AV").hide();
                            $("#img_AL").hide();
                            $("#img_AR").hide();
                            $("#img_AB").show();
                            $("#img_BW").show();
                            $("#img_BJ").show();
                            $("#img_BT").show();
                            $("#img_BV").show();
                            $("#img_BL").show();
                            $("#img_BR").show();
                        });
                    });
            </script>	
</body>
</html>