{% extends "base.html"%}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'cocktail/list/css/style.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="{% static 'cocktail/list/js/common.js' %}"></script>
    
<section>
    <h3>K-ocktail</h3>
    <p>여러가지 우리나라 술과 재료를 혼합하여 만든 혼합주</p>
    <div class="inner"> 
        <div class="searching">
            <i class="fas fa-search"></i>
        </div>
        <input class="search-txt" type="search" id="keyword" placeholder="궁금한 칵테일 이름 또는 재료를 검색해주세요."
            onfocus="this.placeholder=''" onblur="this.placeholder='궁금한 칵테일 이름 또는 재료를 검색해주세요.'">
    </div>
</section>
<section class="chkbox">
    <div class="contaniner">
        <label><input type="checkbox" class="chk" name="" value="칵테일">칵테일</label>
        <label><input type="checkbox" class="chk" name="" value="재료">재료</label>

    </div>
</section>

<!-- 칵테일 카드 View List --> 
<section class="coclist">
    {% for kock in kocktail %}
        <div class="cardBox">
            <img class="thumbnail" src="{{ kock.image }}" />
            <img onclick="changeLike()" class="likeBtn" id="img" src="{% static 'cocktail/images/unlike.png' %}" />
            <section class="titleKr">
                <p>{{ kock.name }}</p>
            </section>
            <section class="titleEng">
                <p>{{ kock.eng_name }}</p>
            </section>
        </div>
    {% endfor %}
</section>

{% endblock %}