{% extends "base.html" %}
{% load static %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'cocktail/main/index.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>


    <div>
        <!-- slide -->
        <div class="panel">
            <div class="panel-image"><img src="{% static 'cocktail/images/panel.png' %}" alt="술도가 설명"></div>
            <div class="panelText">
                <!-- panel 안에 들어가는 text -->
                <p>취향껏 재료를 선택하면</p><b>가장 비슷한 칵테일</b>을 추천해드려요!
            </div>
            <a href="test.html" class="produceBtn">칵테일 제조하러 가기&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#10230;</a>
        </div>
        <!-- 검색바 -->
        <section>
            <div>
                <input class ="searchBar" type="search"
                       placeholder="궁금한 칵테일 이름 또는 재료를 검색해주세요.&nbsp;&nbsp;&nbsp;🍸"
                       onfocus="this.placeholder=''" onblur="this.placeholder='궁금한 칵테일 이름 또는 재료를 검색해주세요.&nbsp;&nbsp;&nbsp;🍸'">
            </div>
        </section>
        <!-- 칵테일 카드 View List -->
        <section style="width: 1240px;">
            <div class="cocktailArea">
                {% for cock in cocktail %}
            <div class="cardBox"  style="
            width: 280px;
            height: 300px;
            left: 320px;
            top: 808px;"
        >

                <!--준벅-->
                {% if cock.eng_name == "June Bug" %}
                <button class="modal-custom-button" href="#myModal1">
                    <img class="modal-custom-button" href="#myModal1" src="{{ cock.image }}"/>
                </button>

                <form action="{% url 'cocktail:likes' cocktail.0.id "main" %}" >
                    {% csrf_token %}
                    {% if user in cocktail.0.like.all %}
                        <input type="image" class="likeBtn" id="img" src="{% static 'cocktail/images/like.png' %}" >
                    {% else %}
                        <input type="image" class="likeBtn" id="img" src="{% static 'cocktail/images/unlike.png' %}" >
                    {% endif %}
                </form>

                <section class="titleKr">
                    <p>{{ cock.name }}</p>
                </section>
                <section class="titleEng">
                    <p>{{ cock.eng_name }}</p>
                </section>

                <!-- The Modal -->
                <div id="myModal1" class="modal-custom">
                    <!-- Modal content -->
                    <div class="modal-content">
                        <div class="modal-header">
                            <span class="close-modal">×</span>
                            <br><br>
                            <img class="thumbnail" src="{{ cock.image }}" alt="">

                            <section class="titleKr">
                                <p>{{ cock.name }}</p>
                            </section>
                            <section class="titleEng">
                                <p>{{ cock.eng_name }}</p>
                            </section>
                        </div>
                        <br>
                        <div class="modal-body">

                            <p class="content">{{ cock.description|linebreaks }}
                            </p>

                            <p class="modal-title">도수</p>
                            <p class="content">{{ cock.alcohol }}</p>

                            <p class="modal-title">맛</p>
                            <p class="content">{{ cock.taste }}</p>

                            <p class="modal-title">베이스</p>
                            <p class="content">{{ cock.base }}</p>

                            <p class="modal-title">어울리는 음식</p>
                            <p class="content">{{ cock.match_food }}</p>
                        </div>
                        <div class="modal-footer">
                            <img class="star" src="{% static 'cocktail/images/star.png' %}" alt="">
                            <img class="star" src="{% static 'cocktail/images/star.png' %}" alt="">
                            <img class="star" src="{% static 'cocktail/images/star_gray.png' %}" alt="">
                            <img class="star" src="{% static 'cocktail/images/star_gray.png' %}" alt="">
                            <img class="star" src="{% static 'cocktail/images/star_gray.png' %} %}'" alt="">
                        </div>
                    </div>
                </div>
                <!-- The Modal -->

                <!--피치크러쉬-->
                {% elif cock.eng_name == "Peach Crush" %}
                <button class="modal-custom-button" href="#myModal2">
                    <img class="modal-custom-button" href="#myModal2" src="{{ cock.image }}"/>
                </button>

                <form action="{% url 'cocktail:likes' cocktail.1.id "main" %}" >
                    {% csrf_token %}
                    {% if user in cocktail.1.like.all %}
                        <input type="image" class="likeBtn" id="img" src="{% static 'cocktail/images/like.png' %}" >
                    {% else %}
                        <input type="image" class="likeBtn" id="img" src="{% static 'cocktail/images/unlike.png' %}" >
                    {% endif %}
                </form>

                <section class="titleKr">
                    <p>{{ cock.name }}</p>
                </section>
                <section class="titleEng">
                    <p>{{ cock.eng_name }}</p>
                </section>

                <!-- The Modal -->
                <div id="myModal2" class="modal-custom">
                    <!-- Modal content -->
                    <div class="modal-content">
                        <div class="modal-header">
                            <span class="close-modal">×</span>
                            <br><br>
                            <img class="thumbnail" src="{{ cock.image }}" alt="">

                            <section class="titleKr">
                                <p>{{ cock.name }}</p>
                            </section>
                            <section class="titleEng">
                                <p>{{ cock.eng_name }}</p>
                            </section>
                        </div>
                        <br>
                        <div class="modal-body">

                            <p class="content">{{ cock.description|linebreaks }}
                            </p>

                            <p class="modal-title">도수</p>
                            <p class="content">{{ cock.alcohol }}</p>

                            <p class="modal-title">맛</p>
                            <p class="content">{{ cock.taste }}</p>

                            <p class="modal-title">베이스</p>
                            <p class="content">{{ cock.base }}</p>

                            <p class="modal-title">어울리는 음식</p>
                            <p class="content">{{ cock.match_food }}</p>
                        </div>
                        <div class="modal-footer">
                            <img class="star" src="{% static 'cocktail/images/star.png' %}" alt="">
                            <img class="star" src="{% static 'cocktail/images/star.png' %}" alt="">
                            <img class="star" src="{% static 'cocktail/images/star_gray.png' %}" alt="">
                            <img class="star" src="{% static 'cocktail/images/star_gray.png' %}" alt="">
                            <img class="star" src="{% static 'cocktail/images/star_gray.png' %} %}'" alt="">
                        </div>
                    </div>
                </div>
                <!-- The Modal -->
                
                <!--모히또-->
                {% elif cock.eng_name == "Mojito" %}
                <button class="modal-custom-button" href="#myModal3">
                    <img class="modal-custom-button" href="#myModal3" src="{{ cock.image }}"/>
                </button>

                <form action="{% url 'cocktail:likes' cocktail.2.id "main" %}" >
                    {% csrf_token %}
                    {% if user in cocktail.2.like.all %}
                        <input type="image" class="likeBtn" id="img" src="{% static 'cocktail/images/like.png' %}" >
                    {% else %}
                        <input type="image" class="likeBtn" id="img" src="{% static 'cocktail/images/unlike.png' %}" >
                    {% endif %}
                </form>

                <section class="titleKr">
                    <p>{{ cock.name }}</p>
                </section>
                <section class="titleEng">
                    <p>{{ cock.eng_name }}</p>
                </section>

                <!-- The Modal -->
                <div id="myModal3" class="modal-custom">
                    <!-- Modal content -->
                    <div class="modal-content">
                        <div class="modal-header">
                            <span class="close-modal">×</span>
                            <br><br>
                            <img class="thumbnail" src="{{ cock.image }}" alt="">

                            <section class="titleKr">
                                <p>{{ cock.name }}</p>
                            </section>
                            <section class="titleEng">
                                <p>{{ cock.eng_name }}</p>
                            </section>
                        </div>
                        <br>
                        <div class="modal-body">

                            <p class="content">{{ cock.description|linebreaks }}
                            </p>

                            <p class="modal-title">도수</p>
                            <p class="content">{{ cock.alcohol }}</p>

                            <p class="modal-title">맛</p>
                            <p class="content">{{ cock.taste }}</p>

                            <p class="modal-title">베이스</p>
                            <p class="content">{{ cock.base }}</p>

                            <p class="modal-title">어울리는 음식</p>
                            <p class="content">{{ cock.match_food }}</p>
                        </div>
                        <div class="modal-footer">
                            <img class="star" src="{% static 'cocktail/images/star.png' %}" alt="">
                            <img class="star" src="{% static 'cocktail/images/star.png' %}" alt="">
                            <img class="star" src="{% static 'cocktail/images/star_gray.png' %}" alt="">
                            <img class="star" src="{% static 'cocktail/images/star_gray.png' %}" alt="">
                            <img class="star" src="{% static 'cocktail/images/star_gray.png' %} %}'" alt="">
                        </div>
                    </div>
                </div>
                <!-- The Modal -->

                <!--블루사파이어-->
                {% elif cock.eng_name == "Blue Sapphire" %}
                <button class="modal-custom-button" href="#myModal4">
                    <img class="modal-custom-button" href="#myModal4" src="{{ cock.image }}"/>
                </button>

                <form action="{% url 'cocktail:likes' cocktail.3.id "main" %}" >
                    {% csrf_token %}
                    {% if user in cocktail.3.like.all %}
                        <input type="image" class="likeBtn" id="img" src="{% static 'cocktail/images/like.png' %}" >
                    {% else %}
                        <input type="image" class="likeBtn" id="img" src="{% static 'cocktail/images/unlike.png' %}" >
                    {% endif %}
                </form>

                <section class="titleKr">
                    <p>{{ cock.name }}</p>
                </section>
                <section class="titleEng">
                    <p>{{ cock.eng_name }}</p>
                </section>

                <!-- The Modal -->
                <div id="myModal4" class="modal-custom">
                    <!-- Modal content -->
                    <div class="modal-content">
                        <div class="modal-header">
                            <span class="close-modal">×</span>
                            <br><br>
                            <img class="thumbnail" src="{{ cock.image }}" alt="">

                            <section class="titleKr">
                                <p>{{ cock.name }}</p>
                            </section>
                            <section class="titleEng">
                                <p>{{ cock.eng_name }}</p>
                            </section>
                        </div>
                        <br>
                        <div class="modal-body">

                            <p class="content">{{ cock.description|linebreaks }}
                            </p>

                            <p class="modal-title">도수</p>
                            <p class="content">{{ cock.alcohol }}</p>

                            <p class="modal-title">맛</p>
                            <p class="content">{{ cock.taste }}</p>

                            <p class="modal-title">베이스</p>
                            <p class="content">{{ cock.base }}</p>

                            <p class="modal-title">어울리는 음식</p>
                            <p class="content">{{ cock.match_food }}</p>
                        </div>
                        <div class="modal-footer">
                            <img class="star" src="{% static 'cocktail/images/star.png' %}" alt="">
                            <img class="star" src="{% static 'cocktail/images/star.png' %}" alt="">
                            <img class="star" src="{% static 'cocktail/images/star_gray.png' %}" alt="">
                            <img class="star" src="{% static 'cocktail/images/star_gray.png' %}" alt="">
                            <img class="star" src="{% static 'cocktail/images/star_gray.png' %} %}'" alt="">
                        </div>
                    </div>
                </div>
                <!-- The Modal -->

                <!--롱아일랜드-->
                {% elif cock.eng_name == "Long Island Iced Tea" %}
                <button class="modal-custom-button" href="#myModal5">
                    <img class="modal-custom-button" href="#myModal5" src="{{ cock.image }}"/>
                </button>

                <form action="{% url 'cocktail:likes' cocktail.4.id "main" %}" >
                    {% csrf_token %}
                    {% if user in cocktail.4.like.all %}
                        <input type="image" class="likeBtn" id="img" src="{% static 'cocktail/images/like.png' %}" >
                    {% else %}
                        <input type="image" class="likeBtn" id="img" src="{% static 'cocktail/images/unlike.png' %}" >
                    {% endif %}
                </form>

                <section class="titleKr">
                    <p>{{ cock.name }}</p>
                </section>
                <section class="titleEng">
                    <p>{{ cock.eng_name }}</p>
                </section>

                <!-- The Modal -->
                <div id="myModal5" class="modal-custom">
                    <!-- Modal content -->
                    <div class="modal-content">
                        <div class="modal-header">
                            <span class="close-modal">×</span>
                            <br><br>
                            <img class="thumbnail" src="{{ cock.image }}" alt="">

                            <section class="titleKr">
                                <p>{{ cock.name }}</p>
                            </section>
                            <section class="titleEng">
                                <p>{{ cock.eng_name }}</p>
                            </section>
                        </div>
                        <br>
                        <div class="modal-body">

                            <p class="content">{{ cock.description|linebreaks }}
                            </p>

                            <p class="modal-title">도수</p>
                            <p class="content">{{ cock.alcohol }}</p>

                            <p class="modal-title">맛</p>
                            <p class="content">{{ cock.taste }}</p>

                            <p class="modal-title">베이스</p>
                            <p class="content">{{ cock.base }}</p>

                            <p class="modal-title">어울리는 음식</p>
                            <p class="content">{{ cock.match_food }}</p>
                        </div>
                        <div class="modal-footer">
                            <img class="star" src="{% static 'cocktail/images/star.png' %}" alt="">
                            <img class="star" src="{% static 'cocktail/images/star.png' %}" alt="">
                            <img class="star" src="{% static 'cocktail/images/star_gray.png' %}" alt="">
                            <img class="star" src="{% static 'cocktail/images/star_gray.png' %}" alt="">
                            <img class="star" src="{% static 'cocktail/images/star_gray.png' %} %}'" alt="">
                        </div>
                    </div>
                </div>
                <!-- The Modal -->

                <!--블루하와이-->
                {% elif cock.eng_name == "Blue Hawaii" %}
                <button class="modal-custom-button" href="#myModal6">
                    <img class="modal-custom-button" href="#myModal6" src="{{ cock.image }}"/>
                </button>

                <form action="{% url 'cocktail:likes' cocktail.5.id "main" %}" >
                    {% csrf_token %}
                    {% if user in cocktail.5.like.all %}
                        <input type="image" class="likeBtn" id="img" src="{% static 'cocktail/images/like.png' %}" >
                    {% else %}
                        <input type="image" class="likeBtn" id="img" src="{% static 'cocktail/images/unlike.png' %}" >
                    {% endif %}
                </form>

                <section class="titleKr">
                    <p>{{ cock.name }}</p>
                </section>
                <section class="titleEng">
                    <p>{{ cock.eng_name }}</p>
                </section>

                <!-- The Modal -->
                <div id="myModal6" class="modal-custom">
                    <!-- Modal content -->
                    <div class="modal-content">
                        <div class="modal-header">
                            <span class="close-modal">×</span>
                            <br><br>
                            <img class="thumbnail" src="{{ cock.image }}" alt="">

                            <section class="titleKr">
                                <p>{{ cock.name }}</p>
                            </section>
                            <section class="titleEng">
                                <p>{{ cock.eng_name }}</p>
                            </section>
                        </div>
                        <br>
                        <div class="modal-body">

                            <p class="content">{{ cock.description|linebreaks }}
                            </p>

                            <p class="modal-title">도수</p>
                            <p class="content">{{ cock.alcohol }}</p>

                            <p class="modal-title">맛</p>
                            <p class="content">{{ cock.taste }}</p>

                            <p class="modal-title">베이스</p>
                            <p class="content">{{ cock.base }}</p>

                            <p class="modal-title">어울리는 음식</p>
                            <p class="content">{{ cock.match_food }}</p>
                        </div>
                        <div class="modal-footer">
                            <img class="star" src="{% static 'cocktail/images/star.png' %}" alt="">
                            <img class="star" src="{% static 'cocktail/images/star.png' %}" alt="">
                            <img class="star" src="{% static 'cocktail/images/star_gray.png' %}" alt="">
                            <img class="star" src="{% static 'cocktail/images/star_gray.png' %}" alt="">
                            <img class="star" src="{% static 'cocktail/images/star_gray.png' %} %}'" alt="">
                        </div>
                    </div>
                </div>
                <!-- The Modal -->

                <!--미도리사워-->
                {% elif cock.eng_name == "Midori Sour" %}
                <button class="modal-custom-button" href="#myModal7">
                    <img class="modal-custom-button" href="#myModal7" src="{{ cock.image }}"/>
                </button>

                <form action="{% url 'cocktail:likes' cocktail.6.id "main" %}" >
                    {% csrf_token %}
                    {% if user in cocktail.6.like.all %}
                        <input type="image" class="likeBtn" id="img" src="{% static 'cocktail/images/like.png' %}" >
                    {% else %}
                        <input type="image" class="likeBtn" id="img" src="{% static 'cocktail/images/unlike.png' %}" >
                    {% endif %}
                </form>

                <section class="titleKr">
                    <p>{{ cock.name }}</p>
                </section>
                <section class="titleEng">
                    <p>{{ cock.eng_name }}</p>
                </section>

                <!-- The Modal -->
                <div id="myModal7" class="modal-custom">
                    <!-- Modal content -->
                    <div class="modal-content">
                        <div class="modal-header">
                            <span class="close-modal">×</span>
                            <br><br>
                            <img class="thumbnail" src="{{ cock.image }}" alt="">

                            <section class="titleKr">
                                <p>{{ cock.name }}</p>
                            </section>
                            <section class="titleEng">
                                <p>{{ cock.eng_name }}</p>
                            </section>
                        </div>
                        <br>
                        <div class="modal-body">

                            <p class="content">{{ cock.description|linebreaks }}
                            </p>

                            <p class="modal-title">도수</p>
                            <p class="content">{{ cock.alcohol }}</p>

                            <p class="modal-title">맛</p>
                            <p class="content">{{ cock.taste }}</p>

                            <p class="modal-title">베이스</p>
                            <p class="content">{{ cock.base }}</p>

                            <p class="modal-title">어울리는 음식</p>
                            <p class="content">{{ cock.match_food }}</p>
                        </div>
                        <div class="modal-footer">
                            <img class="star" src="{% static 'cocktail/images/star.png' %}" alt="">
                            <img class="star" src="{% static 'cocktail/images/star.png' %}" alt="">
                            <img class="star" src="{% static 'cocktail/images/star_gray.png' %}" alt="">
                            <img class="star" src="{% static 'cocktail/images/star_gray.png' %}" alt="">
                            <img class="star" src="{% static 'cocktail/images/star_gray.png' %} %}'" alt="">
                        </div>
                    </div>
                </div>
                <!-- The Modal -->

                <!--맨해튼-->
                {% elif cock.eng_name == "Manhhattan" %}
                <button class="modal-custom-button" href="#myModal8">
                    <img class="modal-custom-button" href="#myModal8" src="{{ cock.image }}"/>
                </button>

                <form action="{% url 'cocktail:likes' cocktail.7.id "main" %}" >
                    {% csrf_token %}
                    {% if user in cocktail.7.like.all %}
                        <input type="image" class="likeBtn" id="img" src="{% static 'cocktail/images/like.png' %}" >
                    {% else %}
                        <input type="image" class="likeBtn" id="img" src="{% static 'cocktail/images/unlike.png' %}" >
                    {% endif %}
                </form>

                <section class="titleKr">
                    <p>{{ cock.name }}</p>
                </section>
                <section class="titleEng">
                    <p>{{ cock.eng_name }}</p>
                </section>

                <!-- The Modal -->
                <div id="myModal8" class="modal-custom">
                    <!-- Modal content -->
                    <div class="modal-content">
                        <div class="modal-header">
                            <span class="close-modal">×</span>
                            <br><br>
                            <img class="thumbnail" src="{{ cock.image }}" alt="">

                            <section class="titleKr">
                                <p>{{ cock.name }}</p>
                            </section>
                            <section class="titleEng">
                                <p>{{ cock.eng_name }}</p>
                            </section>
                        </div>
                        <br>
                        <div class="modal-body">

                            <p class="content">{{ cock.description|linebreaks }}
                            </p>

                            <p class="modal-title">도수</p>
                            <p class="content">{{ cock.alcohol }}</p>

                            <p class="modal-title">맛</p>
                            <p class="content">{{ cock.taste }}</p>

                            <p class="modal-title">베이스</p>
                            <p class="content">{{ cock.base }}</p>

                            <p class="modal-title">어울리는 음식</p>
                            <p class="content">{{ cock.match_food }}</p>
                        </div>
                        <div class="modal-footer">
                            <img class="star" src="{% static 'cocktail/images/star.png' %}" alt="">
                            <img class="star" src="{% static 'cocktail/images/star.png' %}" alt="">
                            <img class="star" src="{% static 'cocktail/images/star_gray.png' %}" alt="">
                            <img class="star" src="{% static 'cocktail/images/star_gray.png' %}" alt="">
                            <img class="star" src="{% static 'cocktail/images/star_gray.png' %} %}'" alt="">
                        </div>
                    </div>
                </div>
                <!-- The Modal -->

                {% endif %}
                </div>
            {% endfor %}
            </div>
        </section>

        <script>
            // Get the button that opens the modal
            var btn = document.querySelectorAll("button.modal-custom-button");

            // All page modals
            var modals = document.querySelectorAll('.modal-custom');

            // Get the <span> element that closes the modal
            var spans = document.getElementsByClassName("close-modal");

            // 별관련
            var stars = document.getElementsByClassName("stars");

            // When the user clicks the button, open the modal
            for (var i = 0; i < btn.length; i++) {
                btn[i].onclick = function (e) {
                    e.preventDefault();
                    modal = document.querySelector(e.target.getAttribute("href"));
                    modal.style.display = "block";
                }
            }

            // When the user clicks on <span> (x), close the modal
            for (var i = 0; i < spans.length; i++) {
                spans[i].onclick = function () {
                    for (var index in modals) {
                        if (typeof modals[index].style !== 'undefined') modals[index].style.display = "none";
                    }
                }
            }

            // When the user clicks anywhere outside of the modal, close it


        </script>

        <!-- 더 알아보기 버튼 -->
        <section>
            <div>
                <a href="{% url 'cocktail:cocktail' %}" class="contentsBtn">더 알아보기&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#43;</a>
            </div>
        </section>
        <hr class="hrLine">
        <!-- 쉽게 알아보는 베이스 종류 -->
        <section>
       <div>
            <p class="textTitle">쉽게 알아보는 베이스 종류</p>
            <p class="textSmall">클릭하면 해당 베이스 술에 대해서 더 설명해드릴게요!</p>
        </div>
            
            <div class="baseList">
                <a href="infopage.html">
                    <img src="{% static 'cocktail/images/baseImage/gray/위스키_글렌피딕_싱글몰트_gray.png' %}" class="baseImg"
                         onmouseover="this.src='{% static 'cocktail/images/baseImage/color/위스키_글렌피딕_싱글몰트.png' %}'"
                         onmouseout="this.src='{% static 'cocktail/images/baseImage/gray/위스키_글렌피딕_싱글몰트_gray.png' %}'"
                    />
                </a>
                <p class="baseText">위스키</p>
                <a href="{% url 'cocktail:wisky' %}">
                    <img src="{% static 'cocktail/images/baseImage/gray/진_봄베이사파이어_gray.png' %}" class="baseImg" style=" left: 200px;"
                         onmouseover="this.src='{% static 'cocktail/images/baseImage/color/진_봄베이사파이어.png' %}'"
                         onmouseout="this.src='{% static 'cocktail/images/baseImage/gray/진_봄베이사파이어_gray.png' %}'"
                    />
                </a>
                <p class="baseText" style="left: 250px">진</p>
                <a href="infopage.html">
                    <img src="{% static 'cocktail/images/baseImage/gray/데킬라_호세쿠엘보_gray.png' %}" class="baseImg" style=" left: 350px;"
                         onmouseover="this.src='{% static 'cocktail/images/baseImage/color/데킬라_호세쿠엘보.png' %}'"
                         onmouseout="this.src='{% static 'cocktail/images/baseImage/gray/데킬라_호세쿠엘보_gray.png' %}'"
                    />
                </a>
                <p class="baseText" style="left: 400px">데킬라</p>
                <a href="infopage.html">
                    <img src="{% static 'cocktail/images/baseImage/gray/보드카_앱솔루트__gray.png' %}" class="baseImg" style=" left: 500px;"
                         onmouseover="this.src='{% static 'cocktail/images/baseImage/color/보드카_앱솔루트.png' %}'"
                         onmouseout="this.src='{% static 'cocktail/images/baseImage/gray/보드카_앱솔루트__gray.png' %}'"
                    />
                </a>
                <p class="baseText" style="left: 550px">보드카</p>
                <a href="infopage.html">
                    <img src="{% static 'cocktail/images/baseImage/gray/리큐르_피치트리_gray.png' %}" class="baseImg" style=" left: 650px;"
                         onmouseover="this.src='{% static 'cocktail/images/baseImage/color/리큐르_피치트리.png' %}'"
                         onmouseout="this.src='{% static 'cocktail/images/baseImage/gray/리큐르_피치트리_gray.png' %}'"
                    />
                </a>
                <p class="baseText" style="left: 701px">리큐르</p>
                <a href="infopage.html">
                    <img src="{% static 'cocktail/images/baseImage/gray/럼_바카디_gray.png' %}" class="baseImg" style=" left: 800px;"
                         onmouseover="this.src='{% static 'cocktail/images/baseImage/color/럼_바카디.png' %}'"
                         onmouseout="this.src='{% static 'cocktail/images/baseImage/gray/럼_바카디_gray.png' %}'"
                    />
                </a>
                <p class="baseText" style="left: 853px">럼</p>
                <a href="infopage.html">
                    <img src="{% static 'cocktail/images/baseImage/gray/브랜디_XO_gray.png' %}" class="baseImg" style=" left: 950px;"
                         onmouseover="this.src='{% static 'cocktail/images/baseImage/color/브랜디_XO.png' %}'"
                         onmouseout="this.src='{% static 'cocktail/images/baseImage/gray/브랜디_XO_gray.png' %}'"
                    />
                </a>
                <p class="baseText" style="left: 1003px">브랜디</p>
            </div>

        </section>
    </div>
{% endblock %}