{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'accounts/index.css' %}">
<div class="container">
    <div>
        <div class="select-register">
            <a class="login" style="background-color: #D9D9D9; color: black;" href="{% url 'accounts:login' %}">
                Login
            </a>
            <a class="register" style="background-color: black; color: white;" href="{% url 'accounts:register' %}">
                Register
            </a>
        </div>
        <form action="{% url 'accounts:register' %}" method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-item">
                    <label for="{{ field.label }}" class="form-item-label">{{ field.label }}</label>
                    {% if field.name == 'gender' %}
                        <div class="gender-container">
                        {% for radio in field.subwidgets %}
                            {% if forloop.counter0 != 0 %}
                            {{ radio.tag }}
                            {% if radio.choice_label == 'WOMAN' %}
                                <label for="{{ radio.id_for_label }}" class="gender-woman gender-label">{{ radio.choice_label }}</label>
                            {% else %}
                                <label for="{{ radio.id_for_label }}" class="gender-man gender-label">{{ radio.choice_label }}</label>
                            {% endif %}
                            {% endif %}
                        {% endfor %}
                        </div>
                    {% else %}

                    {% if field.errors %}
                        <div class="form-item-box form-item-error">
                        {{ field }}
                        </div>
                    {% else %}
                        <div class="form-item-box">
                        {{ field }}
                        </div>
                    {% endif %}

                    {% if field.errors %}
                        {% for error in field.errors %}
                            <p style="color: #D4374A;">{{ error | escape }}</p>
                        {% endfor %}
                    {% endif %}
                    {% endif %}
                </div>
            {% endfor %}

            <input type="submit" class="register-btn" value="취향 선택하러 가기" />
        </form>
    </div>
</div>

{% endblock %}