input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}
input:focus {
  outline: none;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Inter, system-ui;
  width: 100%;
  height: 100%;
  margin-top: 200px;
  margin-bottom: 150px;
}
.select-register {
  display: flex;
  flex-direction: row;
  width: 380px;
  height: 88px;
}
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  font-size: 24px;
  font-weight: 200;
  background-color: #d9d9d9;
  color: black;
}
.register {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  color: #ffffff;
  font-size: 24px;
  font-weight: 200;
  background-color: #0e0a08;
}
.form-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-item-box {
  width: 380px;
  border-bottom: 1px solid dimgray;
  margin-top: 20px;
  padding: 14px 0 16px 0;
}
.form-item-input {
  width: 380px;
  border: none;
}
.form-item-error {
  border-bottom: 1px solid #d4374a;
}
.form-item-input::placeholder {
  text-align: center;
}
.form-item-label {
  margin-top: 84px;
  font-size: 24px;
}
.register-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 380px;
  height: 75px;
  background-color: black;
  border: none;
  color: #ffffff;
  font-size: 18px;
  margin-top: 80px;
}
.gender-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 380px;
  padding-top: 20px;
  margin-bottom: 80px;
}
.gender-label {
  position: absolute;
}
.gender-man {
  font-size: 16px;
  color: #4a8bec;
  margin-left: 270px;
  margin-top: 40px;
}
.gender-woman {
  font-size: 16px;
  color: #d86e6e;
  margin-left: 70px;
  margin-top: 40px;
}
input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid lightgray;
  background-color: white;
  width: 184px;
  height: 50px;
  border-radius: 25px;
  margin-top: 40px;
  cursor: pointer;
  outline: none;
  position: absolute;
}
input[type="radio"]:hover {
  transform: scale(1.05);
}
input[type="radio"]:checked {
  background-color: #fbe5e9;
}
#id_gender_1 {
  margin-left: 200px;
}
#id_gender_1:checked {
  background-color: #d6e6ff;
}
#id_gender_2:checked {
  background-color: #fbe5e9;
}
