{% load static %}
<!doctype html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>술도가</title>
    <link rel="stylesheet" type="text/css" href="{% static 'cocktail/index.css' %}">
</head>
<header>
    <nav class="navStyle">
        <ul>
            <li class="liStyle"><a class="underLine" href="#">Logo영역</a></li>
            <li class="liStyle"><a class="underLine" href="test.html">칵테일 정보</a></li>
            <li class="liStyle"><a class="underLine" href="test.html">Cocktail</a></li>
            <li class="liStyle"><a class="underLine" href="test.html">술 조합 추천</a></li>
            <li class="liStyle"><a class="underLine" href="test.html">술 문화 공유</a></li>
            <li class="liLogin"><a class="underLogin" href="test.html">LOGIN</a></li>
        </ul>
    </nav>
</header>

<body>
       {% block content %}
       {% endblock %}
    <footer class="copyright">
        <img src="{% static 'cocktail/img/copyright.png' %}"/>
    </footer>
</body>
</html>