@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
@import url("https://rsms.me/inter/inter.css");

* {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #adadad;
}

/* header menu */
header {
  background: #040a04;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 80px;
  z-index: 3;
}

header .menu {
  width: 100%;
  margin-left: 23%;
}

header .menu li {
  width: calc(100% / 9);
  height: 80px;
  float: left;
  line-height: 80px;
}

header .right {
  width: 100%;
  height: 0;
  position: absolute;
  left: 86%;
}

header .right li {
  width: calc(20% / 4);
  height: 80px;
  float: left;
  line-height: 80px;
}

/* heeader logo */
.header_logo {
  width: 100%;
  height: 0px;
}

.header_logo img {
  width: 120px;
  height: 50px;
  margin-left: 50px;
  margin-top: 15px;
}

/* title h3 p */
section > h3 {
  margin-top: 180px;
  text-align: center;
  font-size: 30px;
}

section > p {
  text-align: center;
  margin-top: 10px;
}

/* search */

.search-txt {
  width: 800px;
  height: 50px;
  border: 1px solid #adadad;
  border-radius: 40px;
  font-family: "Pretendard";
  font-size: 14px;
  text-align: center;
}

.inner {
  position: relative;
  width: 800px;
  height: 50px;
  margin: 20px auto;
  border: 1px solid #adadad;
  border-radius: 40px;
}

.searching {
  position: absolute;
  right: 20px;
  top: 25%;
}

.search-txt {
  text-align: center;
}

/* choice */
.chkbox {
  margin-top: 60px;
}

label {
  vertical-align: -1px;
  font-size: 18px;
  margin-left: 30px;
}

.chk {
  width: 13px;
  height: 13px;
  vertical-align: text-top;
}

input[type="checkbox"] {
  width: 25px;
  height: 25px;
  accent-color: #040404;
  margin-right: 10px;
}

.contaniner {
  width: 1000px;
  margin: 0 auto;
  height: inherit;
}

/* cocktail list */
.coclist {
  width: 1400px;
}

.cardBox {
  width: 250px;
  height: 250px;
  float: left;
  position: relative;
  left: 260px;
  top: 100px;
  justify-content: center;
  margin-bottom: 75px;
  margin-right: 50px;
}

.thumbnail {
  width: 200px;
  height: 200px;
  display: block;
  margin: 0px auto;
}

.titleKr {
  text-align: center;
  z-index: 2;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #000000;
}

.titleEng {
  text-align: center;
  z-index: 2;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #6f6f6f;
  margin-top: 12px;
}

/* like button */
.likeBtn {
  width: 32px;
  height: 28.75px;
  margin-top: -17.5px;
  margin-left: 200px;
}

/* footer */
footer {
  position: absolute;
  left: 0px;
  bottom: -1500px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 130px;
  background: #040a04;
  text-align: center;
}

footer > img {
  width: 600px;
}

#sort-container {
  display: inline-block;
  position: relative;
  float: right;
  margin-right: 10px;
  line-height: 20px;
}
#sort-toggle {
  cursor: pointer;
}
#sort-btn {
  position: relative;
  width: 24px;
  height: 24px;
  margin-right: 8px;
  top: 6px;
}
#sort-btn-text {
  top: 10px;
}
#modal-container {
  display: none;
  position: absolute;
  width: 190px;
  height: 250px;
  background: #ffffff;
  box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  margin-top: 20px;
  right: 0px;
  z-index: 1;
}
#modal-container.show {
  display: block;
  position: absolute;
  width: 190px;
  height: 250px;
  background: #ffffff;
  box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  margin-top: 20px;
  right: 0px;
  z-index: 1;
}
#sort-type {
  display: flex;
  flex-direction: column;
  padding: 21px 52px 21px 24px;
}
#sort-type > label {
  display: flex;
  padding-bottom: 15px;
  margin: 0px;
  vertical-align: middle;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 31px;
}
#sort-type > label:nth-child(7) {
  padding-bottom: 0px;
}
#sort-type > label > input[type="radio"] {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  appearance: none;
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-image: url("../../images/radio-btn.png");
  margin: 0px 20px 0px 0px;
}
#sort-type > label > input[type="radio"]:checked {
  background-image: url("../../images/radio-btn-checked.png");
}

/*모달----------------------------------------------------------*/
.modal-custom {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.star-custom {
  display: none;
}
.modal-custom-button {
  padding: 5px 5px;
  background-color: rgba(0, 0, 0, 0);
  border: rgba(0, 0, 0, 0);

  /*기존 thumbnail*/
  width: 200px;
  height: 200px;
  display: block;
  margin: 0px auto;
}
.modal-content {
  border-radius: 15px;
  width: 500px;
  height: 700px;
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: auto;
  border: 1px solid #888;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
.close-modal {
  color: gray;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close-modal:hover,
.close-modal:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.modal-header {
  padding: 2px 16px;
  text-align: center;
}
.modal-img {
  width: 150px;
  height: 150px;
  display: block;
  margin: 5px auto;
}
.modal-body {
  padding: 2px 16px;
  text-align: center;
}
.modal-title {
  font-weight: bold;
}
.modal-footer {
  padding: 2px 16px;
  text-align: center;
}

.stars {
  size: 13px;
  text-align: center;
}
.star {
  width: 45px;
}

/* submitBtn */
.submitBtn {
  color: white;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 550;
  font-size: 22px;
  line-height: 150%;
  background-color: black;
  width: 100%;
  overflow: visible;
  cursor: pointer;
}

/* 정렬 리스트 text */
.btnText {
  color: white;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
}
